.container{
    text-align: center;
    height: 90vh;
    max-width: 70vw;
    margin: auto;
    font-style: italic;
}
table{
    margin: auto;
}
input{
    font-size: 1.5rem;
width: 28.1vw;
height: 9vh;
border: 4px solid rgb(121, 119, 119);
box-shadow: 1px 1px 3px gray;
border-radius: 3px;
}
button{
   
    font-size: 1.5rem;
    width: 7vw;
    height: 12vh;
    border: 2px solid rgb(121, 119, 119);
    box-shadow: 2px 2px 3px gray;
  
}
#btn{
    background-color: orangered;
}
#btn:hover{
    background-color: rgb(255, 104, 50);
}

@media screen and (max-width:500px) {

input{
font-size: 1.0rem;
width: 72.1vw;
height: 4vh;
}
button{
    font-size: 1.3rem;
width: 17.7vw;
height: 5vh;
}

}